<!-- Game UI -->
<div class="row">
    <section class="main-section">
        <div class="container cube-container">
            <!-- Row 1 -->
            <div class="row cube-row">
                <div class="col-4 tiles first-two-rows first-two-cols" id="tile-1" (click)="checkWin(1)"></div>
                <div class="col-4 tiles first-two-rows first-two-cols" id="tile-2" (click)="checkWin(2)"></div>
                <div class="col-4 tiles first-two-rows" id="tile-3" (click)="checkWin(3)"></div>
            </div>
            <!-- Row 2 -->
            <div class="row cube-row">
                <div class="col-4 tiles first-two-rows first-two-cols" id="tile-4" (click)="checkWin(4)"></div>
                <div class="col-4 tiles first-two-rows first-two-cols" id="tile-5" (click)="checkWin(5)"></div>
                <div class="col-4 tiles first-two-rows" id="tile-6" (click)="checkWin(6)"></div>
            </div>
            <!-- Row 3 -->
            <div class="row cube-row">
                <div class="col-4 tiles first-two-cols" id="tile-7" (click)="checkWin(7)"></div>
                <div class="col-4 tiles first-two-cols" id="tile-8" (click)="checkWin(8)"></div>
                <div class="col-4 tiles" id="tile-9" (click)="checkWin(9)"></div>
            </div>
        </div>
    </section>
</div>
<!-- Scoreboard UI -->
<div class="row">

</div>